  html{
    --main_color: rgb(248, 248, 248);
    --main_color_darker: rgb(231, 231, 231);
    --noodle_red: #ff4444;
    --noodle_red_secondary: #ffc6c6;
    --noodle_blue: #4385ff;
    --noodle_blue_secondary: #ccdfff;
    --noodle_orange: #ff9e43;
    --noodle_orange_secondary: #fce1c8;
    --noodle_black: #393939;
  }
  
  
  
  
  
  *{
    font-family:Arial, Helvetica, sans-serif;

  }

  h1, p{
    color:var(--noodle_black);
  }

  .box {
    height: 100px;
    width: 100px;
    background-color: red;
    display: block;
  
  }

  body{
    width: 100vw;
    height: 200vh;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--main_color)
  }

  /*--------------------NAV DROP DOWN-------------------------*/
  .nav_toggle::before{
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--noodle_blue);
    position: absolute;
    display: block;
    content: "";
    
    right: 1.25rem;
    z-index: 100;  
  }

.nav_toggle{
    transition: transform, 1s;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    position: fixed;
    width: 10rem;
    height: 4rem;
    top:0;
    right:0;
    z-index: 100;

}

.nav_toggle_on{
 transition: transform, 0.9s;
 transition-timing-function: ease-in-out;
 transform: translateX(calc(-100vw + 5rem));
}

.nav_toggle_on:hover::before{
  content: "\00a0\00a0\00a0\00a0 \00a0 Back";
  font-size: 23px;
  
}


#nav_dropdown{
position: fixed;
background-color: var(--main_color);

background-size: 90%;

}

.nav_dropdown_hidden{
    transition-property: transform;
    transition-timing-function:cubic-bezier(5,1,1,1);
    transition-duration: 0.9s;
    transition-delay: 0.2s;
    z-index: 90;
    width: 100vw;
    height: 100vh;
    transform: translateY(-110vh);

}

.nav_dropdown_show{
    position: fixed;
    transition-property: transform;
    transition-duration: 0.8s;

    transition-timing-function:cubic-bezier(5,1,1,1);

    z-index: 90;
    width: 100vw;
    max-height: 100vh;
    transform: translateY(0vh);
   
}

/*--------------------NAV DROP DOWN-------------------------*/


.nav_container{
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 1rem;
  list-style: none;
  position: absolute;
  margin: 0px;

  width: 100vh;
  height: 35vh;
  font-size: 5rem;
  text-align: end;
  transform: none;
  right: 0px;
}



#menu{
  transition-property: opacity;
  transition-delay: 0.8s;
  transition-duration: 1.5s;
  position: relative;
  justify-self: flex-start;
  text-align: end;
  right: 2em;
  font-size: 20px;
  opacity: 0%;
}

.nav_container li{
position: relative;
clip-path: polygon(0 0, 100% 0, 100% 68%, 0 68%);
overflow: hidden;
display: flex;
justify-content: flex-end;
right: 3rem;


}


.nav_link_hide{
transition-property: transform;
transition-duration: 0.5s;
transform: translateY(40px);

}

.nav_link_show{
transition-property: transform;
transition-duration: 0.5s;
transform: translateY(-10px);
}


.nav_container a{
  font-size: 50px;
  color: black
  }

/*--------------------HEADER-------------------------*/

#header{
  display:block;
  position: absolute;
  background-color: var(--main_color);
  width: 100vw;
  height: 8vh;
  z-index: 2;
  background-image: url("UI elements/brain_noodle_background_opacity.png");
  background-size: 50rem;
  
}
#title{
  position: relative;
  width: 100px;
  height: 100px;
  margin-left: 2rem;
  
}

/*--------------------TITLE CONTAINER-------------------------*/

#title_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "image words";
  position: relative;
  overflow: hidden;
  min-width: 100vw;
  min-height: 50rem;
  z-index: 1;
  padding-top: 10rem;
}

#iphone_container{
  grid-area: image;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;

  overflow: visible;
  
}

.iphone{
  height: auto;
  width: 600px;
  position: absolute;
}

@keyframes iphone_1{
  to{
    transform: translateX(10rem);
  }
}

#iphone_1{
  animation: iphone_1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: 4;
}

#iphone_2{
  z-index: 3;
  padding-right: 150px;
}

@keyframes iphone_3{
  to{
    transform: translateX(-10rem);
  }
}

#iphone_3{
  animation: iphone_3;
  animation-duration: 2s;

  animation-fill-mode: forwards;
  z-index: 2;
  padding-right: 300px;
}


#title_text_container{
display: flex;
grid-area: words;
position: relative;
font-size: 2rem;
flex-direction: column;
text-align: left;
max-width: 40rem;
justify-content: center;
align-items: center;
}




@keyframes draw1 {

  to{
    stroke-dashoffset: 0;
  }

}


#mark1{
  animation: draw1;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  position: absolute;
  margin-left: -20px;
  margin-top: -18px;
  stroke-dasharray: 900;
  stroke-dashoffset: 1000;

}

#mark2{
  animation: draw1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  position: absolute;
  stroke-dasharray: 900;
  stroke-dashoffset: 1000;  
  margin-top: 140px;
  margin-left: -500px;
  
}

#mark3{
  animation: draw1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  stroke-dasharray: 900;
  stroke-dashoffset: 1000; 
}

#title_text_container p{
margin-top: 50px 
}

#title_text_container h1{
  margin: 0px 
  }

#icons_container{
  position: relative;
  margin-left: -15px;

}

#icons_container img{
width: 20rem;
}
/*--------------------BENEFITS CONTAINER-------------------------*/

#benefits_container{
  display: flex;
  flex-direction: row;
  height: 190rem;
  display: flex;
  justify-content: flex-start;
  background-image: url("/UI elements/red_circle.svg");
  background-size: 100%;
  overflow: visible;
  background-repeat: no-repeat;
  background-position-x: 50vw;

  
}

#benefits_circle{
opacity: 0;
}

#benefits_list_container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
  top: 500px;
}

.benefit img{
 transform: scale(0.5);

}

.benefit{
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 550;
  height: 20rem;
  opacity: 0%;
}


/*--------------------FUNCTIONS CONTAINER-------------------------*/

@keyframes numberComplete{
  0%{
    transform: scale(1);
    color:var(--noodle_black);
  }
  50%{
    transform: scale(1.5);
    color:var(--noodle_orange);
  }
  100%{
    transform: scale(1);
    color:var(--noodle_black);
  }

}
.numberComplete{
  animation: numberComplete;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

#functions_container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 5rem;
  align-items: center;
  height: 70rem;
  width: 100%;
  padding-top: 20rem;
  
}

#function_description_container{
  width: 40%;
  justify-content: center;
  text-align: left;
  padding-right: 300px;
  font-size: 2rem;
}

#function_text{
  opacity: 0%;
}


@keyframes fadeIn {
  to{
    transform: translateY(-20px);
    opacity: 100%;
  }
}

.function_reveal{
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#function_description_container button{
  color: var(--noodle_orange);
  background-color: var(--noodle_orange_secondary);
  width: 15rem;
  height: 5rem;
  border-radius: 1rem;
  border-style: none;
  box-shadow: 6px 6px #ff9e43;
  font-size: 25px;
  opacity: 0%;
}

#iphone_container_2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100vw;
height: 90rem;
background-color: var(--noodle_orange);
border-radius: 2em;
overflow: visible;
clip-path: inset(0 0 0 0%);
transform: translateX(-25%);
}

#iphone_frame{
position: relative;
scale: 1.4;
left: 100px;
top: 400px;
z-index: 1;
}

#iphone_screen_container{
  background-color: #393939;
  width: 320px;
  height: 680px;
  border-radius: 3em;
  overflow:hidden;
  position: relative;
  z-index: 0;
  left:100px;
  bottom: 190px;

}

#iphone_screen{
  position: absolute;
  margin-left: -91px;
  bottom: 0px;
  width: 500px;
  top: 320px;
  scale: 1.9;

}



/*--------------------END CONTAINER-------------------------*/

#end_container{
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
  height: 100rem;
  width: 100vw;
  padding-top: 20rem;
  background-color: var(--main_color);
  background-image: url("/UI elements/blue_triangle.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: 50vw;
  background-position-y: 80%;


  
}
 #end_text_container{
  position: relative;
  display: flex;
  align-items: flex-end;
  min-width: 100vw;
  height: 100rem;
  text-align: center;
  
 }

 #end_text_grid{
  position: relative;
  width: 50%;
  height: 61rem;
  margin-left: 10rem;
  margin-right: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 5rem;
  z-index: 1;

 }

 #end_title{
  width: 600px;
  height: 600px;
  margin-top: -120px;
  margin-bottom: -150px;
 }

 #icons_container_end{
  display: flex;
  position: relative;
  margin-left: -15px;
 }

#icons_container_end img{
width: 20rem;
}

#ratings_container{
  position: relative;
  bottom: 22rem;
  width: 100vw;
  height: 40rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 20px;

}



#ratings_1, #ratings_2, #ratings_3{
  margin-right: 100px;
  min-width: 250px;
  max-width: 250px;
  min-height: 15rem;
  flex-grow: 1;
  border-radius: 1rem;
  background-color: var(--noodle_blue_secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating_p{
  color: var(--noodle_blue);
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  max-width: 80%;
}

.rating_s{
  color: var(--noodle_blue);
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  max-width: 80%;
  opacity: 80%;
}

#ratings_stars{
  max-width: 8rem;
  max-height: 8rem;
  margin-top: 10px;
}


.rounded_triangle{
  position: absolute;
  width: 50%;
  height: 100rem;
  right: 0px;
  z-index: 0;
}

#noodle_friends_container{
  position: absolute;
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
  transform: translateY(100px);
  z-index: 0;
}

#noodle_friends_container img{
  width: 150px;
  height: 150px;
  
}

/*--------------------FOOTER CONTAINER-------------------------*/

#footer_container{
  position: relative;
  display: grid;
  background-color: var(--main_color);
  width: 100vw;
  height: 10rem;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "padding links buttons padding"
  "padding policies padding padding";
  background-image: url("UI elements/brain_noodle_background_opacity.png");
  background-size: 50rem;
  background-position: 50%;
  font-size: 15px;
  font-weight: 550;
  z-index: 1;
  
}

.footer_container{
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: flex-start;
  
}

#footer_links{
  grid-row: 1;
  grid-column: 2;
  align-self: flex-end;

}

#footer_buttons{
  grid-row: 1;
  grid-column: 3;
  justify-self: flex-end;
  align-self: flex-end;
  
}

#footer_buttons button{
  border-style: none;
  border-radius: 6px;
  text-align: center;
  width: 2rem;
  height:2rem;
  background-color: var(--noodle_black);
}

#youtube{
  background-image: url("UI elements/button_icons/youtube.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat; 
}

#twitter{
  background-image: url("UI elements/button_icons/twitter.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat; 
}

#linked_in{
  background-image: url("UI elements/button_icons/linked_in.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat; 
}

#facebook{
  background-image: url("UI elements/button_icons/facebook.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat; 
}

#instagram{
background-image: url("UI elements/button_icons/instagram.png");
background-size: 80%;
background-position: center;
background-repeat: no-repeat;
}




#footer_policies{
  grid-row: 2;
  grid-column: 2;
}

#footer_container a {
  text-decoration: none; 
}

#footer_container a:hover {
  text-decoration: underline;
}
/*--------------------MEDIA QUERY---------------------*/
@media screen and (max-width: 1600px){


#title_container{
  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "image"
                         "words";
    position: relative;
    overflow: hidden;
    min-width: 100vw;
    min-height: 70vh;
    z-index: 1;
    padding-top: 10rem;
    row-gap: 100px;
}

#iphone_container {
  grid-area: image;

  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;

  left: 10px;
}

#title_text_container {
  justify-self: center;
  display: flex;
  grid-area: words;
  position: relative;
  font-size: 2rem;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
}

#benefits_container {
  height: 90rem;

}


#benefits_list_container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  right: 80%;
  width: 100vw;
}

#benefits_circle {
  position: relative;
  background-color: var(--noodle_red);
  left: 55%;
  max-width: 0px;
  height: 100rem;
  bottom: 200px;
  z-index: 0;
  overflow-x: hidden;
}

#benefit_handeye, #benefit_critical, #benefit_thinking{
  max-width: 100%;
  flex-direction: column;
  column-gap: 100px;
  
}

#functions_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 5rem;
  align-items: center;
  height: 70rem;
  width: 100%;
  
}

#iphone_container_2 {
  position: relative;
  left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 0px;
  min-width: 50vw;
  max-width: 500vw;
  min-height: 500px;
  max-height: 500px;
  background-color: var(--noodle_orange);
  border-radius: 2em;
  overflow: hidden;
  clip-path: inset(0 0 0 0%);
  transform: translateX(-25%);
}



#iphone_screen_container {
  background-color: #393939;
  width: 270px;
  min-height: 600px;
  border-radius: 3em;
  overflow: hidden;
  position: relative;
  z-index: 0;
  left:0px;
  bottom: -30px;
}

#function_description_container {
  width: 40%;
  justify-content: center;
  text-align: center;
  padding-right: 0px;
  font-size: 2rem;
}

#iphone_frame {
  justify-self: center;
  position: relative;
  scale: 1.2;
  margin-left: 0px;
  margin-bottom: -600px;
  bottom: 100px;
  z-index: 1;
  top: 0px;
  left:0px;
}

#iphone_screen {
  position: relative;
  margin-left: -90px;
  bottom: 0px;

  width: 500px;
  top: 320px;
  scale: 1.9;
}

#end_container {
  position: relative;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50rem;
  width: 100vw;
  padding-top: 50rem;
  background-color: var(--main_color);
}

#end_text_grid {
  position: relative;
  width: 100vw;
  height: 61rem;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 5rem;
  z-index: 1;
}

#end_text_container {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 120vw;
  height: 20rem;
  text-align: center;
}

#ratings_container {
  position: relative;
  bottom: 22rem;
  width: 100vw;
  height: 40rem;
  z-index: 2;
  display: flex;
  flex-direction: row;
  padding-top: 300px;
  align-items: center;
  row-gap: 20px;
}




}
/*--------------------number test---------------------*/